- is_admin = defined?(admin) ? true : false
.row.gl-mt-3
  .col-md-4
    = render Pajamas::CardComponent.new(body_options: { class: 'gl-py-0'}) do |c|
      - c.with_header do
        = _('SSH Key')
      - c.with_body do
        %ul.content-list
          %li
            %span.light= _('Title:')
            %strong= @key.title
          %li
            %span.light= s_('Profiles|Usage type:')
            %strong= ssh_key_usage_types.invert[@key.usage_type]
          %li
            %span.light= _('Created on:')
            %strong= @key.created_at.to_fs(:medium)
          %li
            %span.light= _('Expires:')
            %strong= @key.expires_at.try(:to_s, :medium) || _('Never')
          %li
            %span.light= _('Last used on:')
            %strong= @key.last_used_at.try(:to_s, :medium) || _('Never')

  .col-md-8
    = form_errors(@key, type: 'key') unless @key.valid?
    %pre.well-pre
      = @key.key
    = render Pajamas::CardComponent.new(body_options: { class: 'gl-py-0'}) do |c|
      - c.with_header do
        = _('Fingerprints')
      - c.with_body do
        %ul.content-list
          %li
            %span.light= 'MD5:'
            %code.key-fingerprint= @key.fingerprint
          - if @key.fingerprint_sha256.present?
            %li
              %span.light= 'SHA256:'
              %code.key-fingerprint= @key.fingerprint_sha256

  .col-md-12
    .float-right
      - if @key.can_delete?
        = render 'shared/ssh_keys/key_delete', button_data: ssh_key_delete_modal_data(@key, path_to_key(@key, is_admin))
